<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.server.mapper.user.UserMapper">
	
	<resultMap id="userDTO" type="com.market.server.dto.user.UserDTO">
		<result property="loginNo "     column="login_no"/> 
        <result property="loginId"      column="login_id"/>
        <result property="userNm"      column="user_nm"/>
        <result property="loginPw"      column="login_pw"/>
        <result property="hpNum"        column="hp_num"/>
        <result property="email"        column="email"/>
        <result property="userLevel"    column="user_level"/>
        <result property="roadFullAddr" column="road_full_addr"/>
        <result property="jibunAddr"    column="jibun_addr"/>
        <result property="zipNo"        column="zip_no"/>
        <result property="addrDetail"   column="addr_detail"/>
        <result property="nickName"     column="nick_name"/>
        <result property="status"       column="status"/>
        <result property="point"        column="point"/>
        <result property="regDttm"      column="reg_dttm"/>
        <result property="updDttm"      column="upd_dttm"/>
	</resultMap>
	
	<sql id="cols">
		  login_no
	    , login_id
	    , user_nm
	    , login_pw
	    , hp_num
	    , email
	    , user_level
	    , road_full_addr
	    , jibun_addr
	    , zip_no
	    , addr_detail
	    , nick_name
	    , point
	    , status
	    , reg_dttm
	    , upd_dttm
	</sql>
	
	<select id="getUserInfo" resultType="userDTO">
		SELECT login_no       AS loginNo
    	     , login_id       AS loginId
    	     , user_nm        AS userNm
    	     , login_pw       AS loginPw
    	     , hp_num         AS hpNum
    	     , email
    	     , user_level     AS userLevel 
    	     , road_full_addr AS roadFullAddr
    	     , jibun_addr     AS jibunAddr
    	     , zip_no         AS zipNo
    	     , addr_detail    AS addrDetail
    	     , nick_name      AS nickName
    	     , point
    	     , status
    	     , reg_dttm       AS regDttm
    	     , upd_dttm       AS updDttm
    	  FROM TBL_USER_INFO
    	 WHERE 1=1
    	   AND login_id = #{loginId}
    	   AND status   = 'DEFAULT'
	</select>
	
	<select id="isDuplicatedId" resultType="int">
		SELECT COUNT(*)
		  FROM TBL_USER_INFO
		 WHERE login_id = #{loginId}
		   AND status   = 'DEFAULT'
	</select>
	
	<select id="findByIdAndPassword" resultType="userDTO">
    	SELECT login_no       AS loginNo
    	     , login_id       AS loginId
    	     , user_nm        AS userNm
    	     , login_pw       AS loginPw
    	     , hp_num         AS hpNum
    	     , email
    	     , user_level     AS userLevel 
    	     , road_full_addr AS roadFullAddr
    	     , jibun_addr     AS jibunAddr
    	     , zip_no         AS zipNo
    	     , addr_detail    AS addrDetail
    	     , nick_name      AS nickName
    	     , point
    	     , status
    	     , reg_dttm       AS regDttm
    	     , upd_dttm       AS updDttm
    	  FROM TBL_USER_INFO
    	 WHERE 1=1
    	   AND login_id = #{loginId}
    	   AND login_pw = #{loginPw}
    	   AND status   = 'DEFAULT'
    </select>
	
    <insert id="insert" parameterType="com.market.server.dto.user.UserDTO">
    	<selectKey keyProperty="loginNo" resultType="int" order="BEFORE">
    	SELECT MAX(login_no) + 1 FROM TBL_USER_INFO
    	</selectKey>
    	
        INSERT INTO TBL_USER_INFO (
        	 <include refid="cols" />
        ) VALUES (
        	  #{loginNo}
        	, #{loginId}
        	, #{userNm}
        	, #{loginPw}
        	, #{hpNum}
        	, #{email}
        	, 'MEMBER'
        	, #{roadFullAddr}
        	, #{jibunAddr}
        	, #{zipNo}
        	, #{addrDetail}
        	, #{nickName}
        	, 0
        	, 'DEFAULT'
        	, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
        	, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
        )
    </insert>
    
 	<update id="updatePassword" parameterType="com.market.server.dto.user.UserDTO">
 		UPDATE TBL_USER_INFO
 		   SET login_pw = #{loginPw}
 		     , upd_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %h:%i')
 		 WHERE 1=1
 		   AND login_no = #{loginNo}
 		   AND status   = 'DEFAULT'
 	</update>
 	
 	<update id="update" parameterType="com.market.server.dto.user.UserDTO">
 		UPDATE TBL_USER_INFO
 		   SET user_nm        = #{userNm}
 		     , hp_num         = #{hpNum}
 		     , email          = #{email}
 		     , road_full_addr = #{roadFullAddr}
 		     , jibun_addr     = #{jibunAddr}
 		     , zip_no         = #{zipNo}
 		     , addr_detail    = #{addrDetail}
 		     , nick_name      = #{nickName}
 		     , upd_dttm       = DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
 		 WHERE 1=1
 		   AND login_no = #{loginNo}
 		   AND status   = 'DEFAULT'
 	</update>
 	
 	<update id="delete" parameterType="com.market.server.dto.user.UserDTO">
 		UPDATE TBL_USER_INFO
 		   SET status   = 'DELETE'
 		     , upd_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') 
 		 WHERE 1=1
 		   AND login_no = #{loginNo}
 	</update>

</mapper>