<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.server.mapper.user.UserMapper">
	
	<resultMap id="userDTO" type="com.market.server.dto.user.UserDTO">
		<result property="loginNo "     column="login_no"/> 
        <result property="loginId"      column="login_id"/>
        <result property="userNm"       column="user_nm"/>
        <result property="loginPw"      column="login_pw"/>
        <result property="hpNum"        column="hp_num"/>
        <result property="email"        column="email"/>
        <result property="userLevel"    column="user_level"/>
        <result property="roadFullAddr" column="road_full_addr"/>
        <result property="jibunAddr"    column="jibun_addr"/>
        <result property="zipNo"        column="zip_no"/>
        <result property="addrDetail"   column="addr_detail"/>
        <result property="nickName"     column="nick_name"/>
        <result property="status"       column="status"/>
        <result property="point"        column="point"/>
        <result property="regDttm"      column="reg_dttm"/>
        <result property="updDttm"      column="upd_dttm"/>
	</resultMap>
	
	<sql id="cols">
		  login_no       /* 사용자번호 */
	    , login_id       /* 로그인아이디 */
	    , user_nm        /* 사용자명 */
	    , login_pw       /* 비밀번호 */
	    , hp_num         /* 휴대폰번호 */
	    , email          /* 이메일 */
	    , user_level     /* 회원등급 */
	    , road_full_addr /* 도로명주소 */
	    , jibun_addr     /* 지번주소 */
	    , zip_no         /* 우편번호 */
	    , addr_detail    /* 상세주소 */
	    , nick_name      /* 닉네임 */
	    , point          /* 포인트 */
	    , status         /* 상태 */
	    , reg_dttm       /* 등록일시 */
	    , upd_dttm       /* 수정일시 */
	</sql>
	
	<select id="getUserInfo" resultType="userDTO">
		SELECT login_no       AS loginNo      /* 사용자번호 */
    	     , login_id       AS loginId      /* 로그인아이디 */
    	     , user_nm        AS userNm       /* 사용자명 */
    	     , login_pw       AS loginPw      /* 비밀번호 */
    	     , hp_num         AS hpNum        /* 휴대폰번호 */
    	     , email                          /* 이메일 */
    	     , user_level     AS userLevel    /* 회원등급 */
    	     , road_full_addr AS roadFullAddr /* 도로명주소 */
    	     , jibun_addr     AS jibunAddr    /* 지번주소 */
    	     , zip_no         AS zipNo        /* 우편번호 */
    	     , addr_detail    AS addrDetail   /* 상세주소 */
    	     , nick_name      AS nickName     /* 닉네임 */
    	     , point                          /* 포인트 */
    	     , status                         /* 상태 */
    	     , reg_dttm       AS regDttm      /* 등록일시 */
    	     , upd_dttm       AS updDttm      /* 수정일시 */
    	  FROM TBL_USER_INFO                  /* 사용자정보 */
    	 WHERE 1=1
    	   AND login_id = #{loginId}
    	   AND status   = 'DEFAULT'
	</select>
	
	<select id="isDuplicatedId" resultType="int">
		SELECT COUNT(*)
		  FROM TBL_USER_INFO /* 사용자정보 */
		 WHERE login_id = #{loginId}
		   AND status   = 'DEFAULT'
	</select>
	
	<select id="findByIdAndPassword" resultType="userDTO">
    	SELECT login_no       AS loginNo      /* 사용자번호 */
    	     , login_id       AS loginId      /* 로그인아이디 */
    	     , user_nm        AS userNm       /* 사용자명 */
    	     , login_pw       AS loginPw      /* 비밀번호 */
    	     , hp_num         AS hpNum        /* 휴대폰번호 */
    	     , email                          /* 이메일 */
    	     , user_level     AS userLevel    /* 사용자명 */
    	     , road_full_addr AS roadFullAddr /* 도로명주소 */
    	     , jibun_addr     AS jibunAddr    /* 지번주소 */
    	     , zip_no         AS zipNo        /* 우편번호 */
    	     , addr_detail    AS addrDetail   /* 상세주소 */
    	     , nick_name      AS nickName     /* 닉네임 */
    	     , point                          /* 포인트 */
    	     , status                         /* 상태 */
    	     , reg_dttm       AS regDttm      /* 등록일시 */
    	     , upd_dttm       AS updDttm      /* 수정일시 */
    	  FROM TBL_USER_INFO                  /* 사용자정보 */
    	 WHERE 1=1
    	   AND login_id = #{loginId}
    	   AND login_pw = #{loginPw}
    	   AND status   = 'DEFAULT'
    </select>
	
    <insert id="insert" parameterType="com.market.server.dto.user.UserDTO">
    	<selectKey keyProperty="loginNo" resultType="int" order="BEFORE">
    	SELECT IFNULL(MAX(login_no), 0) + 1 FROM TBL_USER_INFO
    	</selectKey>
    	
        INSERT INTO TBL_USER_INFO (
        	 <include refid="cols" />
        ) VALUES (
        	  #{loginNo}
        	, #{loginId}
        	, #{userNm}
        	, #{loginPw}
        	, #{hpNum}
        	, #{email}
        	, 'MEMBER'
        	, #{roadFullAddr}
        	, #{jibunAddr}
        	, #{zipNo}
        	, #{addrDetail}
        	, #{nickName}
        	, 0
        	, 'DEFAULT'
        	, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
        	, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
        )
    </insert>
    
 	<update id="updatePassword" parameterType="com.market.server.dto.user.UserDTO">
 		UPDATE TBL_USER_INFO         /* 사용자정보 */
 		   SET login_pw = #{loginPw} /* 비밀번호 */
 		     , upd_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %h:%i') /* 수정일시 */
 		 WHERE 1=1
 		   AND login_no = #{loginNo}
 		   AND status   = 'DEFAULT'
 	</update>
 	
 	<update id="update" parameterType="com.market.server.dto.user.UserDTO">
 		UPDATE TBL_USER_INFO                    /* 사용자정보 */
 		   SET user_nm        = #{userNm}       /* 사용자명 */
 		     , hp_num         = #{hpNum}        /* 휴대폰번호 */
 		     , email          = #{email}        /* 이메일 */
 		     , road_full_addr = #{roadFullAddr} /* 도로명주소 */
 		     , jibun_addr     = #{jibunAddr}    /* 지번주소 */
 		     , zip_no         = #{zipNo}        /* 우편번호 */
 		     , addr_detail    = #{addrDetail}   /* 상세주소 */
 		     , nick_name      = #{nickName}     /* 닉네임 */
 		     , upd_dttm       = DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') /* 수정일시 */
 		 WHERE 1=1
 		   AND login_no = #{loginNo}
 		   AND status   = 'DEFAULT'
 	</update>
 	
 	<update id="delete" parameterType="com.market.server.dto.user.UserDTO">
 		UPDATE TBL_USER_INFO        /* 사용자정보 */
 		   SET status   = 'DELETED' /* 상태 */
 		     , upd_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') /* 수정일시 */
 		 WHERE 1=1
 		   AND login_no = #{loginNo}
 	</update>

</mapper>